<h1 class="heading">Book your flight now</h1>
<table class="container">
  <tr>
    <td class="sub-container">
      <p class="up-block">From</p>
      <p class="lower-block">
        <div class="link adjust" id="origindata">Origin</div>
      </p>
    </td>
    <td class="icon-block">&#8744;</td>
    <td class="sub-container">
      <p class="icon-block">&#8739;</p>
    </td>
    <td class="sub-container">
      <p class="up-block">To</p>
      <p class="lower-block">
        <a class="link" id="destinationdata">Destination</a>
      </p>
    </td>
    <td class="icon-block">&#8744;</td>
    <td class="sub-container">
      <p class="icon-block">&#8739;</p>
    </td>
    <td class="sub-container">
      <p class="up-block">Depart</p>
      <p class="lower-block">
        <a class="link" id="departdata">Fri, 16 Feb</a>
      </p>
    </td>
    <td class="icon-block">&#8744;</td>
    <td class="sub-container">
      <p class="icon-block">&#8739;</p>
    </td>
    <td class="sub-container">
      <p class="up-block">
        Passenger
      </p>
      <p class="lower-block">
        <a class="link" id="passengerdata">
          <span id="update_passg_na">0</span> Passenger
        </a>
      </p>
    </td>
    <td class="icon-block">&#8744;</td>
    <td class="sub-container">
      <p class="icon-block">&#8739;</p>
    </td>
    <td class="sub-container pink-block">
      <a class="link" id="flightdata">SEARCH VARIANTS</a>
    </td>
  </tr>
</table><br><br>

<div id="selectedFlightId" style="display:none"></div>
