<html id="main-page">

<head>
  <meta charset="UTF-8">
  <% include ../partition/head %>
  <% include ../partition/script %>
</head>

<body class="body-text" id="main-body">

  <% include ../partition/flightbar %>
  <div id="dynamicblock">

  </div>

</body>

</html>
